.banner
  text-align: center
  padding: 40px 0px

  &__title
    line-height: 36px
  
  &__text
    font-size: 18px
    line-height: 28px
    color: #7d7b7c
    margin-bottom: 60px
  &__items
    display: flex
    margin: 0px -10px 35px

  &__item
    width: 33.33%
    text-align: center
    padding: 0px 10px
    border-right: 1px solid $primary-color

    &:last-child 
      border-right: none

  &__item-img
    margin-bottom: 10px

  &__item-text
    font-size: 12px
    line-height: 16px

  &__img 
    margin: 0px auto 15px
    max-width: 500px
  &__btn-wrap
    margin-bottom: 30px
  &__btn-descr
    a
      color: $default-color
  &__btn 
    margin-bottom: 10px

  &__btn-descr 
    font-size: 12px
    line-height: 18px

  &__descr
    font-size: 12px
    line-height: 24px
@media only screen and (min-width: 960px) 
  .banner
    text-align: left
    padding: 0

    &__inner
      position: relative
      padding: 60px 0px

    &__content
      width: 50%
      max-width: 566px
    
    &__items
      margin: 0px 0px 35px -15px

    &__item
      padding: 0px 15px
      width: auto
      text-align: left
      display: flex
      align-items: center
      border-right-width: 2px

    &__item-img
      width: 40px
      flex-shrink: 0
      margin-right: 13px
      margin-bottom: 0px

    &__img
      margin-bottom: 0
      padding-left: 40px
      position: absolute
      width: 50%
      max-width: 714px
      right: 0
      top: 50%
      transform: translateY(-50%)

    &__title
      margin-bottom: 25px

    &__btn-wrap
      display: flex
      align-items: center
      margin-bottom: 34px
    
    &__btn
      margin-bottom: 0
      margin-right: 20px
    &__btn-descr
      font-size: 14px
      line-height: 24px
      max-width: 134px

@media only screen and (min-width: 1200px)
  .banner
    &__inner
      padding: 115px 0px
    
    &__content
      width: 55%
      max-width: 588px

    &__items
      margin: 0px 0px 95px -15px
    &__img
      padding-left: 0px
      width: 45%
      right: 0px
@media only screen and (min-width: 1400px)
  .banner
    &__content
      width: 55%
      max-width: 588px

    &__img
      padding-left: 100px
      width: 70%
      left: 588px
      top: 0
      transform: translateY(0)